.next,.previous{
    font-weight: bold;
    background: #00cccc;
    color: white;
    border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.paginate_button.current{
    font-weight: bold;
    background: #00cccc;
    color: white;
    border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.next:hover,.previous:hover{
    cursor: pointer;
    background-color: #346392;
    color:#fff;
}
.paginate_button{
    padding:15px;
    margin:0;
}
.dataTables_info{
    position: fixed;
    bottom:16%;
    left: 75%;
}
.dataTables_paginate{
    position: fixed;
    bottom: 10%;
    left:70%;
}
.dataTables_paginate span{
    cursor: pointer;
    padding:14px 0;
    border-top: solid 1px #eee;
    border-bottom : solid 1px #eee;
    font-weight: bold;
}
.dataTables_info{
    text-align: right;
    margin-right:15px;
}
.dataTables_paginate{
    text-align: right;
    margin-right:10px;
}
.dataTables_paginate{
    margin-top:20px;
}
.bg-primary,.bg-danger{
    padding: 15px;
    margin-left: -20px;
    font-weight: bold;
}
.bg-danger{
    background-color:#e72323 !important;
    color:#fff;
}
#ClickWordList li{
    cursor:pointer;
}
.jumbotron{
    padding:0 0 10rem 0;
}
.fileupload-text{
    margin-top:20px;
}
.hint{
    text-align: center;
    color:#aaa;
}
.centered{
    text-align: center;
}
.padded{
    padding:10px 10px 0 10px;
    margin-left:5px;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}
/* Table Styling , Credits to : https://codepen.io/mestremind/pen/IyDpa */

table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
    }
tr:hover {
      background: #f4f4f4;
    }
td:hover {
        color: #555;
    }
th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
    }
th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    }
th:last-child{
      border-right: none;
    }
@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}